%div{:style=>"margin-top:10px;"}
  = flash[:notice]
  %div{:class => "form_1c", :style => "width:800px;"}
    %div{:class => "form_1c_title"} 
      %span Список удержание
      %span{:style=>"float:right;"} X
    %div{:class=>"form_content"}
      %div{:class=> "top_tool_box"}
        .row
          .three.columns
            = link_to content_tag('span', "Создать запись" , :class=>"add"), new_deduction_path, {:class => "small button"}
          = form_tag filling_deductions_path do |f|
            .three.columns
              = submit_tag "Выполнить удержание за #{AppConstant.account_period}", {:class => "small button"}
      %div{:class => "elements"}
        %table{:border=>"1", :class=>"data_table"}
          %thead
            %th №
            %th отчетный период
            %th таб№
            %th ФИО
            %th Дата начало
            %th Дата окончание
            %th Код удеражние
            %th Сумма
            %th{:colspan=>"2"}
          %tbody
            - i=1
            - @deductions.each do |d|
              %tr
                %th{:scope=>"row"}=i
                %td=d.period
                %td=d.worker_code
                %td=d.worker.name
                %td=d.date_begin
                %td=d.date_end
                %td=d.type_of_calc
                %td=d.summ
                %td{:style=>"text-align:center"}
                  =link_to image_tag("panel_tools/edit.png", :size=>"12x12"), edit_deduction_path(d), :title => "Редактировать"
                %td{:style=>"text-align:center"}
                  =link_to image_tag("panel_tools/delete.png", :size=>"12x12"), deduction_path(d), :method => :delete, :confirm => "Удалить выбранный график ?", :title => "Удалить"
                - i += 1
      %div{:class => "bottom_tool_box"} Здесь будить пагинация

