%div{:style=>"margin-top:10px;"}
  = flash[:notice]
  %div{:class => "form_1c", :style => "width:800px;"}
    %div{:class => "form_1c_title"} 
      %span Табель учета отработанного времени
      %span{:style=>"float:right;"} X
    %div{:class=>"form_content"}
      %div{:class=> "top_tool_box"}
        .row
          .three.columns
            = link_to content_tag('span', "Новый" , :class=>"add"), new_information_time_sheet_path, {:class => "small button"}
          = form_tag filling_information_time_sheets_path do |f|
            .three.columns
              = submit_tag "Автоматический сформировать за #{AppConstant.account_period}", {:class => "small button"}
      %div{:class => "elements"}
        %table{:border=>"1", :class=>"data_table"}
          %thead
            %th №
            %th отчетный период
            %th таб№
            %th ФИО
            %th Дата начало
            %th Дата окончание
            %th код графика
            %th Неявка
            %th{:colspan=>"2"}
          %tbody
            - i=1
            - @t_sheets.each do |t_sh|
              %tr
                %th{:scope=>"row"}=i
                %td=t_sh.period
                %td=t_sh.worker_code
                %td=t_sh.worker.name
                %td=t_sh.date_begin
                %td=t_sh.date_end
                %td=t_sh.schedule_code
                %td=t_sh.absence_code
                %td{:style=>"text-align:center"}
                  =link_to image_tag("panel_tools/edit.png", :size=>"12x12"), edit_information_time_sheet_path(t_sh), :title => "Редактировать"
                %td{:style=>"text-align:center"}
                  =link_to image_tag("panel_tools/delete.png", :size=>"12x12"), information_time_sheet_path(t_sh), :method => :delete, :confirm => "Удалить выбранный график ?", :title => "Удалить"
                - i += 1
      %div{:class => "bottom_tool_box"} Здесь будить пагинация

