%tr{:class => "row_data_table"}
  %td
    = f.text_field :session_number, :size => 6
    = f.hidden_field :id
  %td= f.text_field :initial_day, :size => 6
  %td= f.text_field :counting_date, :size => 15
  %td{:style => "border-right:none;align:center"}
    = f.hidden_field :_destroy
    = link_to image_tag("panel_tools/delete.png",:size=>"15x15"), nil, :href =>"", :onclick => "check_nested_attr_destroy(this);return false;"

