%div{:style=>"margin-top:10px;"}
  = flash[:notice]
  %div{:class => "form_1c", :style => "width:920px;"}
    %div{:class => "form_1c_title"} 
      %span= @title
      %span{:style=>"float:right;"} X
    %div{:class=>"form_content"}
      = form_for @schedule_of_working do |f|
        %div{:class => "elements"} 
          %div{:style=>"padding-top:10px;"}
            .row
              .two.columns
                = f.label :schedule_code
              .two.columns.end.custom_text_field
                = f.text_field :schedule_code
            .row
              .two.columns
                = f.label :name
              .six.columns.end.custom_text_field
                = f.text_field :name
            .row.collapse
              .three.columns.fieldset_border_color
                %fieldset
                  %legend Цикл для заполнения
                  = link_to "Добавить", new_schedule_of_working_path(:partial => "cycles"), :remote => true
                  %table{:id => "cycles_table", :border=>"1", :class=>"data_table"}
                    %thead
                      %th День
                      %th{:style => "width:50px;"} Часы
                      %th{:style => "width:100px;",:colspan=>"2"} Ночные
                    %tbody
                      = f.fields_for :cycles do |f|
                        = render "cycles", f: f
              .four.columns.fieldset_border_color
                %fieldset
                  %legend Даты отсчета для заполнения
                  = link_to "Добавить", new_schedule_of_working_path(:partial => "date_of_countings"), :remote => true
                  %table{:id => "date_of_countings_table", :border=>"1", :class=>"data_table"}
                    %thead
                      %th № смены
                      %th{:style => "width:15px;"} Начальный день
                      %th{:colspan=>"2"} Дата отсчета
                    %tbody
                      = f.fields_for :date_of_countings do |f|
                        = render "date_of_countings", f: f
              .five.columns.fieldset_border_color
                %fieldset
                  %legend Доп.параметры для заполнения
                  .row.collapse
                    .ten.columns{:style => "font-size:12px;"} Корректировать предпраздничные дне(к часам будить добавлено указаная значение)
                    .two.columns
                      = f.text_field :precorrect_holiday
                    .ten.columns{:style => "font-size:12px;"} Корректировать дпраздничные дне(будить установлено указанное значение если часы !=0)
                    .two.columns
                      = f.text_field :correct_holiday

        %div{:class => "bottom_tool_box"}
          .row
            =f.submit "Сохранить", :style => "float:right", :class => "small button"


