%div{:style=>"margin-top:10px;"}
  = flash[:notice]
  %div{:class => "form_1c", :style => "width:450px;"}
    %div{:class => "form_1c_title"} 
      %span Заполнить сведение о графиков работы
      %span{:style=>"float:right;"} X
    %div{:class=>"form_content"}
      = form_for "fill_information", :url => filling_schedule_of_workings_path, :remote => true, :html => {:id => 'remote_form'} do |f|
        %div{:class => "elements"} 
          %div{:style=>"padding-top:10px;"}
            .row.collapse
              .one.column
                =f.label :date_end, "С", :class => "prefix"
              .two.columns.custom_text_field
                = f.text_field 'date_begin'
              .one.column
                =f.label :date_end, "по", :class => "prefix"
              .two.columns.end.custom_text_field
                = f.text_field 'date_end'
            .row
              .three.columns.right
                = f.label :classifier_schedule, 'Классификатор графика'
              .three.columns.end
                = f.select 'classifier_schedule', @classifier_schedule, {}, :style=>"width:200px;"
            .row
              .three.columns
                = f.label :schedule_number, 'Номер графика'
              .three.columns.end
                = f.select 'schedule_number', @schedule_number, {}, :style=>"width:200px;"
        %div{:class => "bottom_tool_box", :style=> "margin-top:10px;"}
          .row
            .seven.columns
              = submit_tag "Выполнить", :class => "small button right"
              = image_tag "ajax-loader.gif", :style => "display:none;", :id => "ajax_loader", :size => "20x20", :class=>"right inline"




