<!DOCTYPE html>
<html>
<head>
  <title>Главная страница расчета зарплаты</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="main-menu">  
    <ul class="menu">
      <li class="menu_title"><span>Справочники</span>
        <ul class="menu-item">
          <li><%= link_to "График", schedule_of_workings_path%></li>
          <li><%= link_to "Сотрудники" %></li>
          <li><%= link_to "Сотрудники" %></li>
          <li><%= link_to "Сот343sdcx" %></li>
          <li><%= link_to "Сотрудники" %></li>
          <li><%= link_to "Сотрудники" %></li>
          <li><%= link_to "Сотрудники" %></li>
          <li><%= link_to "Сотрудники" %></li>
        </ul>
      </li>
      <li class="menu_title"><span>Сведение</span>
        <ul class="menu-item">
          <li><%= link_to "График работы"%></li>
          <li><%= link_to "Сотрудники"%></li>
          <li><%= link_to "Сотрудники"%></li>
          <li><%= link_to "Сотрудники"%></li>
          <li><%= link_to "Сотрудники"%></li>
          <li><%= link_to "Сотрудники"%></li>
          <li><%= link_to "Сотрудники"%></li>
          <li><%= link_to "Сотрудники"%></li>
        </ul>
      </li>
      <li class="menu_title"><span>Обработки</span>
        <ul class="menu-item">
           <li><%= link_to "Заполнить графиков работы", filling_schedule_of_workings_path%></li>
        </ul>
      </li>
    </ul>
  </div>
  <div id="content">
    <div>
      <%= yield %>
    </div>
    <div id="message_window">
      <%= yield :message_window%>
    </div>
  </div>

</body>
</html>
