!!!
/paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ 
/[if lt IE 7 ] <html class="ie6" lang="en"> 
/[if IE 7 ]    <html class="ie7" lang="en"> 
/[if IE 8 ]    <html class="ie8" lang="en"> 
/[if (gte IE 9)|!(IE)] <html lang="en"> 
%html{:lang => "en"}
  %head
    %meta{:charset=>"utf-8"}
    /Uncomment to make IE8 render like IE7 
    / <meta http-equiv="X-UA-Compatible" content="IE=7" />
    /Set the viewport width to device width for mobile 
    %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1.0"}
	
    %title= content_for?(:title) ? yield(:title) : "Untitled"
    /Included CSS Files 
    = stylesheet_link_tag    "application"
    /Included JS Files  
    = javascript_include_tag "application"
    = csrf_meta_tags 
  %head
  %body
    %div{:id => "top_container"}
      %ul.nav-bar{:style=>"margin-top:0;"}
        %li.has-flyout
          %a{:href=>"#"}Справочники
          %a.flyout-toggle{:href=>"#"} 
          %ul.flyout
            %li= link_to "График", schedule_of_workings_path
            %li= link_to "Сотрудники", reference_workers_path
            %li= link_to "Явки/Неявки", reference_absences_path
            %li= link_to "Подразделение организации", reference_departments_path
            %li= link_to "Должности", reference_positions_path
        %li.has-flyout
          %a{:href=>"#"}Сведение
          %a.flyout-toggle{:href=>"#"} 
          %ul.flyout
            %li= link_to "Сведение о графиков работы", sch_of_work_informations_path
            %li= link_to "Работники организации", information_workers_path
            %li= link_to "Табель рабочего времени", information_time_sheets_path
        %li.has-flyout
          %a{:href=>"#"}Обработки
          %a.flyout-toggle{:href=>"#"}
          %ul.flyout
            %li= link_to "Заполнить графиков работы", filling_schedule_of_workings_path
            %li= link_to "Сформировать табель рабочего времени", filling_schedule_of_workings_path
    %div{:id=>"content"}
      %div
        = yield
      %div{:id=>"message_window"}
        = yield :message_window

